@use '../helpers/' as *;

dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    padding: rem(24);
    border: var(--border);
    border-radius: rem(12);
    background-color: var(--color-black-06);
}
dt {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.5;
}
dd {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.5;
    color: var(--color-gray-95);
}
.feature-pair {
    display: grid;
    row-gap: rem(4);
    margin-bottom: rem(24);
}
.feature-pair:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
