@use '../helpers/' as *;

.hero {
    position: relative;
    min-height: 100svh;
    display: flex;
    flex-direction: column;

    &::after {
        content: url(../../images/hero/abstract.svg);
        position: absolute;
        left: 50%;
        top: 15%;
        translate: -50%;
        width: fluid(470, 200);
        height: fluid(470, 200);
        
        @include laptop {
            top:20%;
        }
        @include tablet {
            top:25%;
        }
        @include mobile {
            top:30%;
        }
    }

    &__content {
        position: relative;
        text-align: center;
        z-index: 15;
        max-width: rem(1096);
        margin-top: auto;
        margin-inline: auto;
    }
    &__title {
        margin-bottom: rem(14);
    }
    &__text {
        margin-bottom: rem(50);

        @include laptop {
            font-size: rem(14);
        }
    }
    &__link {
        display: inline-flex;
        width: rem(250);
        column-gap: rem(4);

        @include laptop {
            width: rem(210);
        }

        &:before {
            content: url('../../icons/play.svg');
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        &::after,
        &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 67%;
        }
        &::before {
            bottom: rem(-2);
            background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, var(--color-black-08) 100%);
        }
        &::after {
            top: 0;
            background: linear-gradient(180deg, var(--color-black-08) 0%, rgba(20, 20, 20, 0) 100%);
        }
    }
}