@use '../helpers/' as *;

.preview-slider {
    position: relative;
    margin-bottom: fluid(100, 50);

    &__content {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: rem(126);
        @include mobile {
            padding-bottom: rem(16);
        }
    }

    &__bg {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 67%;
            bottom: rem(-2);
            background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, var(--color-black-08) 100%);
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-arrows {
        position: absolute;
        bottom: rem(20);
        display: flex;
        justify-content: space-between;
        padding-inline: rem(50);
        width: 100%;
        height: rem(56);
        z-index: 100;
    }
    
}
.slider-preview {
    min-height: 100svh;
    
    .swiper-wrapper {
        height: 100svh;   
    }
}
.slide__item-preview {
    position: relative;
    min-height: 100%;
}
.slider-pagination-preview {
    text-align: center;
}

.movies-shows-tabs {

    @include mobile-above {
        [data-js-tabs-content],
        [data-js-tabs-content-alt] {
            display: block !important;
            opacity: 1 !important;
        }
    }
}
.movies-shows-tabs-buttons {
    max-width: rem(400);
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;

    .tabs__button {
        min-width: rem(150);
    }
}
.shows-box,
.movies-box {
    position: relative;
    padding: rem(20) fluid(50, 0);
    border: var(--border);
    border-radius: rem(12);
    margin-bottom: rem(150);
    @include laptop {
        margin-bottom: rem(120);
    }
    
    @include mobile {
        border: none;
        margin-bottom: rem(80);
    }

    &__tag {
        position: absolute;
        top: rem(-25);
        left: rem(40);
        padding: rem(10) rem(24);
        font-weight: 600;
        font-size: rem(20);
        line-height: 1.5;
        color: var(--color-white);
        border-radius: rem(8);
        height: rem(50);
        @include laptop {
            top: rem(-20);
            padding: rem(8) rem(20);
            font-size: rem(16);
            height: rem(40);
        }
    }

    .section {
        padding-block: rem(50);
        @include laptop {
           padding-block: rem(40); 
        }
        @include mobile {
           padding-block: rem(24); 
        }
    }
}
.rating-star {
    @include laptop {
        width: rem(14);
        height: rem(14);
    }
}
.slide__info-clock {
    @include laptop {
        width: rem(20);
        height: rem(20);
    }
}
.slide__info-eye {
    @include laptop {
        width: rem(20);
        height: rem(20);
    }
}
.slide__info-item {

    & p,
    & span {
        @include laptop {
            font-size: rem(12);
        }
    }
}