@use '../helpers/' as *;

.preview {
    position: relative;
    min-height: 100svh;
    margin-bottom: fluid(100, 60);

    &::before {
        content: '';
        position: absolute;
        top: rem(2);
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #141414 5%, rgba(20, 20, 20, 0) 100%);
        z-index: 5;
    }
    
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100svh;
    }

    &__content {
        margin-top: auto;
        padding-inline: fluid(50, 24);
        padding-bottom: rem(20);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 5;

        @include laptop {
            padding-bottom: rem(16);
        }
        
        @include mobile {
            margin-inline: 0;
        }
    }

    &__title {
        @include fluid-text(38, 24);
        margin-bottom: rem(4);

        @include mobile {
            margin-bottom: rem(20);
        }
    }

    &__text {
        margin-bottom: rem(30);

        @include mobile {
            display: none;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: rem(20);

        @include mobile {
            width: 100%;
            flex-direction: column;
        } 
    }

    &__link {
        &:before {
            content: url('../../icons/play.svg');
        }
        @include mobile {
            width: 100%;
        } 
    }

    &__buttons {
        display: flex;
        column-gap: rem(8);

        &-link {
            background-color: var(--color-black-06);
            width: rem(56);
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: var(--border);
            border-radius: rem(8);

            @include laptop {
                width: rem(48);
            }

            @include hover {
                border-color: var(--color-accent);
                path {
                    stroke: var(--color-accent);
                }
            }
        }
    }

    &__bg {
        padding-top: fluid(170, 120);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: rem(14);
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(14);
            overflow: hidden;
        }
    }
}

.body {
    margin-bottom: fluid(100, 60);

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(20);

        @include tablet {
            grid-template-columns: 1fr;
            gap: rem(20) 0;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        grid-column: span 2;

        &-desc {
            display: grid;
            row-gap: rem(14);

            & p {
                @include fluid-text(18, 14);
                color: var(--color-white);
            }
        }

        &-reviews {
            .slider-arrows-round {
                margin-left: 50%;
                translate: -50%;

                @include mobile {
                    margin-left: 0;
                    translate: 0;
                }
            }
        }
    }

    &__right {
        grid-column: span 1;

        &-item {
            display: grid;
            row-gap: rem(14);
            max-width: rem(419);

            @include tablet {
                max-width: 100%;
            }

            &:not(:last-child) {
                margin-bottom: rem(30);
            }

            & span {
                display: flex;
                
                align-items: center;
                justify-content: center;
                height: rem(43);
                font-weight: 500;
                font-size: rem(18);
                padding: rem(8) rem(14);
                color: var(--color-white);
                border: var(--border);
                border-radius: rem(8);
                background-color: var(--color-black-06);

                @include laptop {
                    padding: rem(6) rem(12);
                }
            }

            .spans {
                display: flex;
                flex-wrap: wrap;
                gap: rem(10);
            }
        }
        
        .inner {
            display: flex;
            align-items: center;
            column-gap: rem(10);
            background-color: var(--color-black-06);
            border: var(--border);
            border-radius: rem(8);
            padding: rem(14);

            &__image {
                width: rem(60);
                aspect-ratio: 1;
                border-radius: rem(8);
                overflow: hidden;
            }
            
            .name {
                font-size: rem(18);
                color: var(--color-white);
                line-height: 1.5;
            }
            .country {
                font-size: rem(16);
                line-height: 1.5;
            }
        }

        .rating-cards {
            display: flex;
            column-gap: rem(1);
            row-gap: rem(5);
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @include tablet {
                justify-content: start;
                column-gap: rem(10);
                flex-wrap: nowrap;

            }
            @include mobile-s {
                
                column-gap: rem(5);
            }
        }
        
        .rating-card {
            display: grid;
            row-gap: rem(4);
            padding: fluid(16, 12);
            border: var(--border);
            border-radius: rem(8);
            background-color: var(--color-black-06);

            &__stars {
                display: flex;
                align-items: center;
                column-gap: rem(4);

                @include laptop {
                    & img {
                        width: rem(18);
                        height: rem(18);
                    }
                }

                & p {
                    font-size: rem(20);
                    color: var(--color-white);

                    @include laptop {
                        font-size: rem(14);
                    }
                }
            }
        }
    }
}


.label {
    @include fluid-text(18, 14);
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: rem(5);

    & img {
        width: rem(20);
        height: rem(20);
    }
}
.cast__heading,
.reviews__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cast__heading {
    height: rem(52);
    margin-bottom: rem(30);
}
.reviews__heading {
    height: fluid(58, 48);
    margin-bottom: fluid(40, 24);
}
.slider-arrows-round {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    @include laptop {
        column-gap: rem(8);
    }
}

.reviews__add {
    display: inline-flex;
    align-items: center;
    column-gap: rem(4);
    padding: rem(14);
    color: var(--color-white);
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: rem(8);

    &:before {
        content: url('../../icons/add.svg');
    }

    @include laptop {
        font-size: rem(14);
        padding: rem(12);
        border-radius: rem(6);
    }

    @include hover {
        border-color: var(--color-accent);
    }
}

.slider-reviews {
    margin-bottom: fluid(40, 24);

    &__arrow-round--right {
        rotate: 180deg;
    }
}

.slide__card {
    padding: fluid(40, 24);
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: rem(12);

    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(20);

        @include laptop {
            margin-bottom: rem(16);
        }
    }

    &-text {
        @include fluid-text(18, 14);
        font-weight: 400;
        line-height: 1.5;
    }
}

.head__author {
    font-weight: 500;

    &-name {
        color: var(--color-white);
    }
}

.head__rating {
    display: flex;
    align-items: center;
    column-gap: rem(4);
    padding: rem(6) rem(10);
    border: var(--border);
    border-radius: rem(51);
    background-color: var(--color-black-08);

    & img {
        width: rem(18);
        height: rem(18);
    }

    & span {
        @include fluid-text(18, 14);
    }

    @include laptop {
        padding: rem(4) rem(8);

        & img {
            width: rem(14);
            height: rem(14);
        }
    }
}