@use '../helpers/' as *;

.section__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    background-color: var(--color-black-06);
}

td, th {
    
    padding: rem(30);
    border: var(--border);
    text-align: left;
    width: 25%;
    line-height: 1.5;
    @include laptop {
        font-size: rem(16);
        padding: rem(24);
    }
}

.h6__tag {
    display: flex;
    align-items: center;
    column-gap: rem(8);
}