@use 'helpers' as *;

body {
    font-family: var(--font-family);
    font-size: rem(18);
    color: var(--color-gray-60);
    background-color: var(--color-black-08);

    &.scroll-lock {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

h1, .h1,
h3, .h3 {
    font-weight: 700;
    color: var(--color-white)
}

h2, .h2,
h4, .h4,
h6, .h6 {
    font-weight: 600;
    color: var(--color-white)
}

h5, .h5 {
    font-weight: 500;
    color: var(--color-white)
}


h1, .h1 {
    @include fluid-text(58, 28);
}
h2, .h2 {
    @include fluid-text(48, 24);
}
h3, .h3 {
    @include fluid-text(38, 20);
}
h4, .h4 {
    @include fluid-text(24, 18);
}
h5, .h5 {
    @include fluid-text(22, 18);
}
h6, .h6 {
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
select,
textarea,
svg * {
    transition: var(--transition);
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    transition: 0s !important;
}