@use 'helpers' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;

        &.is-open {
            display: block !important;
        }
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.wide-width {
    grid-column: -1 / 1;
}

.wide {
    width: 100%;
}