@use 'helpers' as *;

:root {

    --color-accent: #E50000;
    
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-black-06: #0F0F0F;
    --color-black-08: #141414;
    --color-black-10: #1A1A1A;
    --color-black-12: #1F1F1F;
    --color-black-15: #262626;
    --color-black-20: #333333;
    --color-black-25: #404040;
    --color-black-30: #4C4C4C;

    --color-gray-60: #999999;
    --color-gray-65: #A6A6A6;
    --color-gray-70: #B3B3B3;
    --color-gray-75: #BFBFBF;
    --color-gray-90: #E4E4E7;
    --color-gray-95: #F1F1F3;
    --color-gray-97: #F7F7F8;
    --color-gray-99: #FCFCFD;

    --font-family: 'Manrope', sans-serif;

    --border: #{rem(1)} solid var(--color-black-15);

    --gradient: linear-gradient(rgb(15, 15, 15) 50%, rgb(15, 15, 15) 50%);

    --container-width: #{rem(1596)};
    --container-padding-x: #{rem(16)};

    --transition: 0.3s;
}